In [1]:
database = "sqlite_db_pythonsqlite.db"

import sqlite3
conn = sqlite3.connect(database)

In [2]:
cur = conn.cursor()
    
query1 = """
    SELECT *
    FROM FACILITIES;
    """
cur.execute(query1)
rows = cur.fetchall()
rows

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]